@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@media screen and (max-width: 768px) { 
    .hidden-sm {
        display: block;
    }
    nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0rem;
        border: none;
    }
};  */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 0;
    margin-top: 0;
}

